<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
        rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar bg-primary text-white navbar-expand-lg ">
        <div class="container-fluid ">
            <a class="navbar-brand text-white btn " href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/accounts/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white btn" href="/emplist">Emplist</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    {%block body%}
    {%endblock%}
</body>

</html>