{%extends 'myapp/base.html'%}

{%block body%}
<div class="container">
    {%if emp%}
        <table class="table table-bordered table-striped table-hover text-center">
            <thead class="bg-info text-white">
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for e in emp%}
                <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.first_name}}</td>
                    <td>{{e.email}}</td>
                    <td>
                        <a href="/{{e.id}}" class="fa fa-eye text-info mr-3"></a>
                        <a href="/edit/{{e.id}}" class="fa fa-pencil text-warning mr-3"></a>
                        <a href="/delete/{{e.id}}" class="fa fa-trash text-danger"></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {%else%}
        <p class="h1 text-center text-danger">Record Not Found</p>
    {%endif%}
</div>
{%endblock%}