{%extends 'myapp/base.html'%}

{%block body%}
<p class="h1 text-center text-danger">Register Page</p>
<div class="container">
    <form action="" method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h1 class="text-center">Register</h1>
                    </div>
                    <div class="card-body">
                        {{form.as_p}}
                        <button class="btn btn-info">Register</button>
                        <a href="{%url 'login'%}" class="btn btn-primary float-right">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{%endblock%}