{%extends 'myapp/base.html'%}

{%block body%}
<div class="container">
    <p class="h1 text-center text-danger">This is a Home Page</p>

    <section>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt libero omnis eaque, in quas facere veritatis! Doloribus asperiores a, minus eveniet blanditiis adipisci explicabo quas animi quidem repellat doloremque accusantium magni impedit perferendis soluta molestias amet inventore, dolorem omnis consequatur?</p>
        <div class="row ">
            <div class="col-md-8">
                <a href="{%url 'register'%}" class="btn btn-warning">Register</a>
            </div>
            <div class="col-md-4">
                <a href="{%url 'login'%}" class="btn btn-info float-right">Login</a>
            </div>
        </div>
    </section>
    
</div>
{%endblock%}