{%extends 'myapp/base.html'%}

{%block body%}
<div class="container">
    <p class="h1 text-center text-danger">Employee list Page</p>
    <section>
        <a href="/create" class="btn btn-primary">ADD</a>
    </section>
    <section>
        {%if employee_list%}
        <table class="table table-hover table-bordered table-striped text-center">
            <thead class="bg-info text-white">
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee Salary</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for emp in employee_list%}
                <tr>
                    <td>{{emp.EmpId}}</td>
                    <td>{{emp.EmpName}}</td>
                    <td> &#8377 {{emp.EmpSal}}</td>
                    <td>
                        <a href="/{{emp.id}}"><i class="fa fa-eye mr-3 text-success "></i></a>
                        <a href="/edit/{{emp.id}}"><i class="fa fa-pencil mr-3 text-info"></i></a>
                        <a href="/delete/{{emp.id}}"><i class="fa fa-trash text-danger"></i></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <p class="h1 text-center">Record Not Found</p>
        {%endif%}
    </section>
</div>

{%endblock%}