<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.min.css"
    rel="stylesheet"
  />

</head>
<body>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h1 class="text-white">ADD Details</h1>
                        </div>
                        <div class="card-body">
                            {{form.as_p}}
                            <button class="bnt btn-outline-primary">ADD</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>