<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <h1 style="text-align:center; color:red">home Page</h1>
    
    
     
    <!-- <video src="{%static 'images/four.mp4'%}"  height="250px" title="hello wolrd" controls autoplay loop></video> -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h1 class="text-center">Image One</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/one.jpg'%}" alt="Image is loading......" title="nature"   class="img-fluid" >
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h1 class="text-center">Image Two</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/two.jpg'%}" alt="Image is loading......" style="height: 464px;"  class="img-fluid">
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-warning text-white">
                        <h1 class="text-center">Image Three</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/three.jpg'%}" alt="Image is loading......"  class="img-fluid">
                    </div>
                </div> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h1 class="text-center">Image Four</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/one.jpg'%}" alt="Image is loading......" title="nature"  class="img-fluid" >
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h1 class="text-center">Image Five</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/two.jpg'%}" alt="Image is loading......" style="height: 464px;"  class="img-fluid">
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center">Image Six</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/three.jpg'%}" alt="Image is loading......"  class="img-fluid">
                    </div>
                </div> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <h1 class="text-center">Image Seven</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/one.jpg'%}" alt="Image is loading......" title="nature"  class="img-fluid" >
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h1 class="text-center">Image Eight</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/two.jpg'%}" alt="Image is loading......"  class="img-fluid">
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h1 class="text-center">Image Nine</h1>
                    </div>
                    <div class="card-body shadow">
                         <img src="{%static 'images/three.jpg'%}" alt="Image is loading......"  class="img-fluid">
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>
</html>