{%extends 'tempapp/base.html'%}

{%block body%}
<div class="container">
    <p class="h1 text-center">Home Page</p>
    <section>
        <div class="row">
            <div class="col-md-8">
                <a href="{%url 'add'%}" class="btn btn-outline-pink">Add</a>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Search" class="form-control">
            </div>
        </div>
        

    </section>
    <section class="mt-5">
        {%if students%}
            <table class="table table-bordered table-striped table-hover text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Student Id</th>
                        <th>Student Name</th>
                        <th>Student Fees</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for s in students%}
                        <tr>
                            <td>{{s.StudentId}}</td>
                            <td>{{s.StudentName}}</td>
                            <td>{{s.StudentFees}}</td>
                            <td>
                                <a href="{%url 'edit' s.id%}" class="fa fa-pencil text-success mr-3"></a>
                                <a href="{%url 'show' s.id%}" class="fa fa-eye text-primary mr-3"></a>
                                <a href="{%url 'delete' s.id%}" class="fa fa-trash text-danger mr-3"></a>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}
            <p class="h1 text-center text-danger">Record Not Found</p>
        {%endif%}
    </section>
</div>
{%endblock%}