{%extends 'tempapp/base.html'%}

{%block body%}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    <h1 class="text-center ">Student Details</h1>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th class="bg-light">Student ID</th>
                            <td>{{student.StudentId}}</td>
                        </tr>
                        <tr>
                            <th class="bg-light">Student Name</th>
                            <td>{{student.StudentName}}</td>
                        </tr>
                        <tr>
                            <th class="bg-light">Student Fees</th>
                            <td>{{student.StudentFees}}</td>
                        </tr>

                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{%url 'list'%}"><i class="fa fa-arrow-left btn btn-outline-info">BACK</i></a>
                    <a href="{%url 'edit' student.id%}"><i class="fa fa-pencil btn btn-outline-warning">EDIT</i></a>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}